/* Sizes */
@font-face {
  font-family: 'england_hand_dbregular';
  src: url('fonts/england-webfont.eot');
  src: url('fonts/england-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/england-webfont.woff') format('woff'), url('fonts/england-webfont.ttf') format('truetype'), url('fonts/england-webfont.svg#england_hand_dbregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'portcullionbold';
  src: url('fonts/Portcullion-webfont.eot');
  src: url('fonts/Portcullion-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Portcullion-webfont.woff') format('woff'), url('fonts/Portcullion-webfont.ttf') format('truetype'), url('fonts/Portcullion-webfont.svg#portcullionbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
#mr-certificate,
#mr-certificate-old {
  padding: 40px;
  text-align: center;
}
#mr-certificate h1,
#mr-certificate-old h1,
#mr-certificate h2,
#mr-certificate-old h2,
#mr-certificate h3,
#mr-certificate-old h3,
#mr-certificate h4,
#mr-certificate-old h4,
#mr-certificate h5,
#mr-certificate-old h5,
#mr-certificate h6,
#mr-certificate-old h6 {
  margin: 6px 0px;
}
#mr-certificate .cert-title,
#mr-certificate-old .cert-title {
  font-size: 65px;
  font-family: 'portcullionbold', cursive;
}
#mr-certificate .cert-sign,
#mr-certificate-old .cert-sign {
  font-size: 40px;
  font-family: 'england_hand_dbregular', cursive;
}
#mr-certificate .certificate-name,
#mr-certificate-old .certificate-name {
  font-size: 60px;
}
body.admin .mr-test-choice {
  font-size: 12px;
}
